<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czyl.dao.ChangeListMapper">
    <resultMap id="BaseResultMap" type="com.czyl.entity.ChangeList">
        <id column="f_id" jdbcType="BIGINT" property="id" />
        <result column="f_title" jdbcType="VARCHAR" property="title"/>
        <result column="f_changeitem" jdbcType="INTEGER" property="changeItem"/>
        <result column="f_changeclass" jdbcType="INTEGER" property="changeClass"/>
        <result column="f_changecompany" jdbcType="BIGINT" property="changeCompany"/>
        <result column="f_changeapplicant" jdbcType="VARCHAR" property="changeApplicant"/>
        <result column="f_file" jdbcType="VARCHAR" property="file"/>
        <result column="f_changereason" jdbcType="VARCHAR" property="changeReason"/>
        <result column="f_changecontent" jdbcType="VARCHAR" property="changeContent"/>
        <result column="f_userid" jdbcType="BIGINT" property="userId"/>
    </resultMap>
    <insert id="insertChangeList" parameterType="com.czyl.entity.ChangeList">
        INSERT INTO t_changelist(f_title, f_changeitem, f_changeclass, f_changecompany, f_changeapplicant, f_file,
        f_changereason, f_changecontent, f_userid)
        VALUES (#{title,jdbcType=VARCHAR},#{changeItem,jdbcType=INTEGER},#{changeClass,jdbcType=INTEGER},#{changeCompany,jdbcType=BIGINT},
        #{changeApplicant,jdbcType=VARCHAR},#{file,jdbcType=VARCHAR},#{changeReason,jdbcType=VARCHAR},
        #{changeContent,jdbcType=VARCHAR},#{userId,jdbcType=BIGINT});
    </insert>
    <select id="getChangeListByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT f_id,f_title, f_changeitem, f_changeclass, f_changecompany, f_changeapplicant, f_file, f_changereason,
         f_changecontent,f_userid FROM t_changelist WHERE f_userid = #{userId,jdbcType=BIGINT};
    </select>
    <select id="getChangeListDetail" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from t_changelist WHERE f_id = #{id,jdbcType=BIGINT};
    </select>
    <select id="getAllChangeList" resultMap="BaseResultMap">
        select * from t_changelist
    </select>
    <select id="countChangeList" resultType="java.lang.Integer">
        SELECT count(f_id) FROM t_changelist
    </select>
</mapper>