<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czyl.dao.CompanyContactMapper">
    <resultMap id="baseMap" type="com.czyl.entity.CompanyContact">
        <id column="cc_id" property="id" jdbcType="BIGINT"/>
        <result column="cc_companyid" property="companyId" jdbcType="BIGINT"/>
        <result column="cc_account" jdbcType="VARCHAR" property="account"/>
        <result column="cc_name" jdbcType="VARCHAR" property="name"/>
        <result column="cc_password" jdbcType="VARCHAR" property="password"/>
        <result column="cc_phone" jdbcType="CHAR" property="phone"/>
        <result column="cc_mail" jdbcType="VARCHAR" property="mail"/>
        <result column="cc_createtime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="cc_isactive" jdbcType="INTEGER" property="isActive"/>
        <result column="cc_issuper" jdbcType="INTEGER" property="isSuper"/>
    </resultMap>
    <insert id="insertCompanyContact">
        INSERT INTO t_company_contact(cc_companyid,cc_account,cc_password) VALUES (#{companyId},#{account},#{password});
    </insert>
    <update id="updateCompanyContact">
        UPDATE t_company_contact SET cc_name = #{name}, cc_phone=#{phone},cc_mail=#{mail} WHERE cc_id = #{id};
    </update>
    <update id="updateCompanyContactPassword">
        UPDATE t_company_contact set cc_password=#{password} WHERE cc_id=#{id};
    </update>
    <update id="updateAccountIsActive">
        UPDATE t_company_contact SET cc_isactive=#{isActive} WHERE cc_id=#{id};
    </update>
    <update id="updateAccountIsSuper">
        UPDATE t_company_contact SET cc_issuper=#{isSuper} WHERE cc_id=#{id};
    </update>
    <select id="selectCompanyContact" resultMap="baseMap">
        SELECT * FROM t_company_contact WHERE cc_account =#{account} AND cc_password=#{password};
    </select>
</mapper>