<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czyl.dao.CompanyModelMapper">
    <!--<resultMap id="baseMap" type="com.czyl.entity.CompanyModel">-->
        <!--<result column="cm_comid" property="companyId" jdbcType="BIGINT"/>-->
        <!--<result column="cm_serviceid" property="serviceId" jdbcType="BIGINT"/>-->
        <!--<result column="cm_enclosure" property="enclosure" jdbcType="VARCHAR"/>-->
    <!--</resultMap>-->
    <insert id="insertCompanyModel" parameterType="com.czyl.entity.CompanyModel">
        INSERT INTO t_company_model(cm_comid, cm_serviceid, cm_enclosure) VALUES
        (#{companyId},#{serviceId},#{enclosure});
    </insert>
</mapper>