<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czyl.dao.ConstantMapper">
    <resultMap id="BaseResultMap" type="com.czyl.entity.Constant">
        <result column="f_id" jdbcType="BIGINT" property="id"/>
        <result column="f_name" jdbcType="VARCHAR" property="name"/>
        <result column="f_type" jdbcType="INTEGER" property="type"/>
    </resultMap>
    <select id="getAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT f_id,f_name from t_constant WHERE f_type = #{id,jdbcType=INTEGER};
    </select>
    <select id="getName" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT f_id,f_name FROM t_constant WHERE f_id = #{id,jdbcType=BIGINT};
    </select>
    <select id="getQuestionStatus" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT f_id,f_name FROM t_constant WHERE f_type = 0 AND f_id = #{id,jdbcType=BIGINT};
    </select>
</mapper>