<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czyl.dao.QuestionMapper">
  <resultMap id="BaseResultMap" type="com.czyl.entity.Question">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="fieldid" jdbcType="BIGINT" property="fieldId" />
    <result column="urgent" jdbcType="INTEGER" property="urgent" />
    <result column="files" jdbcType="VARCHAR" property="file" />
    <result column="describes" jdbcType="VARCHAR" property="describe" />
    <result column="status" jdbcType="INTEGER" property="status"/>
    <result column="createtime" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="hopetime" jdbcType="TIMESTAMP" property="hopeTime"/>
    <result column="companyid" jdbcType="BIGINT" property="companyId"/>
    <result column="adviser" jdbcType="BIGINT" property="adviserId"/>
    <result column="changeuser" jdbcType="INTEGER" property="changeUser"/>
  </resultMap>
  <insert id="insertQuestion" parameterType="com.czyl.entity.Question">
    INSERT INTO t_question(title, fieldid, urgent, files, describes, hopetime,companyid,adviser)
    VALUES (#{title,jdbcType=VARCHAR},#{fieldId,jdbcType=BIGINT},#{urgent,jdbcType=INTEGER},#{file,jdbcType=VARCHAR},
    #{describe,jdbcType=VARCHAR},#{hopeTime,jdbcType=TIMESTAMP},#{companyId,jdbcType=BIGINT},#{adviserId,jdbcType=BIGINT});
  </insert>
  <update id="updateQuestionStatus">
    UPDATE t_question SET status = #{status,jdbcType=INTEGER}, changeuser=#{changeUser,jdbcType=INTEGER} WHERE id = #{id,jdbcType=BIGINT} AND
    companyid=#{companyId,jdbcType=BIGINT};
  </update>
  <select id="getQuestionByCompanyId" resultMap="BaseResultMap">
    SELECT * FROM t_question WHERE companyid = #{companyId};
  </select>
  <select id="getQuestionByStatus" resultMap="BaseResultMap">
    SELECT * FROM t_question WHERE status = #{status};
  </select>
  <select id="getQuestionVague" resultMap="BaseResultMap">
    SELECT * FROM  t_question WHERE id LIKE '%${vague}%' AND companyid = #{companyId,jdbcType=BIGINT};
  </select>
  <select id="getQuestionByCompanyIdDetail" resultMap="BaseResultMap">
    SELECT * FROM t_question WHERE id=#{id} AND companyid = #{companyId};
  </select>
  <select id="getQuestionByAdviser" resultMap="BaseResultMap" parameterType="java.lang.Long">
    SELECT * FROM t_question WHERE adviser = #{adviserId};
  </select>
</mapper>