<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czyl.dao.SelectedMapper">
  <resultMap id="BaseResultMap" type="com.czyl.entity.Selected">
    <id column="f_id" jdbcType="BIGINT" property="id" />
    <result column="f_name" jdbcType="CHAR" property="name" />
    <result column="f_parentid" jdbcType="BIGINT" property="parentId" />
  </resultMap>
  <select id="select" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT f_id,f_name,f_parentid FROM t_select WHERE f_parentid = #{parentId,jdbcType=BIGINT};
  </select>
  <select id="getSelectName" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT f_id,f_name,f_parentid FROM t_select WHERE f_id = #{id,jdbcType=BIGINT};
  </select>
  <select id="getNodes" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT f_id,f_name,f_parentid FROM t_select WHERE f_parentid != #{parentId,jdbcType=BIGINT};
  </select>
</mapper>